main {
    background-color: red;
    max-width: 400px;
    margin: 0 auto;
    border: solid;
}
header {
    display: flex;
    flex-direction: row;
}

ul {
    list-style-type: none;
  }

.done{
    text-decoration: line-through;
    color: gray;
}

.not-done{
    text-decoration: none;
    color: black;
}